html
{
    height: 100%;
}

body
{
    font-family: 'Segoe UI' , Verdana, Helvetica, Sans-Serif;
    font-size: 14px;
    height: 100%;
    background-color: white;
    color: #333;
}

html, body, p, h1, h2, h3, h4, h5, h6, td {
    margin: 0;
    padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

p
{
    padding-bottom: 1em;
}

a
{
    text-decoration: none;
}

a, a:visited, a:hover
{
    color: #00a3ef;
}

a:hover, a:visited:hover
{
    color: #00a3ef;
    text-decoration: underline;
}

b, strong, .bold, h1, h2, h3, h4, h5, h6
{
    font-weight: 600;
}

code {
    display: block; font-family: Consolas, Monospace; font-size: 14px; color: Black; text-indent: -4em; padding: 0 0.25em;
}

.info {display:none;}

.fieldset-groups {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fieldset-group {
    border-radius: .5em;
    flex-grow: 1;
    max-width: 50%;
}

label {font-weight: bold; color:#555;}