body {}

#warning {
    padding: 8px;
    background-color: yellow;
}

/* classes used for querying but not styling */
.grayNoVideo, .browseForVideoFile, .browseForCaptionFile {
}

table.outerLayout {
    width: 100%;
}

table.outerLayout td {
    vertical-align: top;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    white-space: nowrap;
}

table.innerLayout {
    width: auto;
    height: 70px;
}

table.innerLayout td {
    padding: 0 0 6px 0;
    vertical-align: baseline;
}

/* a lot of crazy to leave the table row so it affects the layout of the overall table but hide it */
tr.hidden td, tr.hidden td * {
    visibility: hidden;
    height: 0px;
    max-height: 0px;
    line-height: 0;
    padding: 0;
    overflow: hidden;
}

button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 4em;
}

input[type=radio], input[type=checkbox] {
    position: relative;
    top: 1px;
}

label {
    margin-right: 0.5em;
    white-space: nowrap;
}

span#videoLength, span#elapsedTime {
    margin-right: 0.5em;
}

#videoElm {
    display: block;
    border: solid 1px #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
    margin: .5rem 0;
}

.videoError {
    display: block;
    background-color: #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 297px;
    color: white;
    text-align: center;
    padding: 12px;
}

#videoError {
    display: none;
}

#captionTitle {
}

#textCaptionEntry {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    height: 3rem;
    line-height: 19px;
    /* border: 1px solid #999; */
    padding: 3px 8px 5px;
    text-align: center;
    min-height: 4rem;
    margin-top: 8px;
    overflow: hidden;
    /* font-size: 1.5rem; */
    padding-top: 1rem;
    background: #333;
    box-sizing: border-box;
    color:  white;
    font-size: 2rem;
}

#textCaptionEntry.playing {
    border-color: #666;
    background-color: #666;
    color: white;
}


.ie9 input[type=file], .ie10 input[type=file] {
    width: 87px;
    padding: 2px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-family: 'Segoe UI' , Verdana, sans-serif;
    font-size: 14px;
}

.ie10 input[type=file] {
    width: 85px;
}

textarea, input[type=text] {
    font-family: 'Segoe UI' , Verdana, sans-serif;
    font-size: 14px;
}

textarea {
    line-height: 16px;
}

input[type=text] {
    line-height: 14px;
}

#videoURL, #ttURL {
    /* width: 225px; */
    flex-grow: 1;
}

#captionFileAndMarkup {
    display: none;
}

#captionFile {
    font-family: Consolas, monospace;
    border: 5px dashed #777;
    width:100%;
    margin:1rem 0;
    box-sizing:border-box;
    padding: 1rem;
    width: 100% !important;
    min-height: 9rem !important;

}

/* the list of captions */

#display {
    border: solid 1px #999;
    height: 47.5rem;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    margin-top:.5rem;
}

#display div {
    cursor: pointer;
    padding: 2px 0 3px 0;
    white-space: nowrap;
    font-size: 1.5em;
    height: 2em;
}

#display div:nth-child(odd) {
    background-color: #5BC2EC;
}

#display div:nth-child(even) {
    background-color: #bef;
}

#display div:hover {
    background-color: #ECA809;
    color:black;
}

body #display div:last-child {
    color: #feffac;
    font-weight: bold;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

#display div span {
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
}

#display div span:nth-child(3) {
    font-style: italic;
}

ul#loader {
    list-style-type: none;
    padding-left:0;
    padding-bottom:30em;
}
ul#loader li {
    background-color: rgb(206, 241, 245);
    padding:.25em;
    margin: 5px 0;
    font-size: 1.25em;
}

ul#loader li.added {
    font-style: italic;
    background-color: #eee;
    text-decoration: line-through;
}
ul#loader li:hover {
    background:#333 !important;
    color:white !important;
}

ul#loader li:not(.added) {font-size:1.5rem; background-color: magenta; color: black;}
ul#loader li:not(.added) + li:not(.added) {font-size:1.25rem; background-color: rgb(206, 241, 245);}


#textloader {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top:.5rem;
    min-height: 3rem;
}

#textloader_source, #textloader_button{
    margin:0;
    padding:0;
    border:3px double #333;
    box-sizing:border-box;
    width: 100%;
}
#textloader_subs {
    border:3px double #333;
    flex-grow:1;
    width:100%;
    height: 20rem;
    overflow-y:scroll;
    box-sizing: border-box;
}

.keys {
    color:black;
    line-height:1em;
    font-weight:bold;
    position:relative;
    top:-.5em;
}

.flexr {
    display:flex;
    width:100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flexr > * + *{
    margin-left: .25em;
}
.flexr > * + label {
    margin-left: 1em;
}
label {line-height: 1.8em;}
button.speed {
    margin-top:.25em;
}

.load *{font-size: .8rem;}

.hide {display:none;}

section.media {position:relative;}

#textloader_source {
   display: inline-block;
   font-size: .75rem;
   width: 100% !important;
   padding: .25em .5em;
   min-height: 3rem;
}

#textloader_button {
   width: 5rem;
   height: 3rem;
   line-height: 1.25em;
   position: static;
   flex-grow: 1;
   margin-top: .5rem;
   margin-bottom: .5rem;
}

.caption-list fieldset {
margin-top: 1.7rem;
}

.flexc{
    display:flex;
    flex-flow: row wrap;
    background-color: red;
    width: 100%;
    align-items: flex-start;
}

.flexc button {
    flex-grow: 1;
}

#clearAllCaptions {
    line-height:2rem;
    font-size: 2rem;
}
.caption-controls {
    height:3.2rem;
    box-sizing:content-box;
}